<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 650}}</string>
		<string>{{266, 0}, {1082, 650}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>168A1F1E-AC59-4736-ADF8-A4B7CB3D1ACB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3C3E530A-A50C-48C1-8A6F-66C7CA492D60</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4BACEC24-BB26-4A85-854B-9DC98CB77D3F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>52C05D82-7939-4715-8B76-46C2DFB69D84</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>63B94CF2-87FB-455C-8C63-067745776BC8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>80961BC9-54BA-407B-B8CC-994732DCC960</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>88A46363-54A9-416D-9F36-EF751FBB21A9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8A1D536C-5472-48BE-B2C8-27037BBEBA65</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {288, 640}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.75</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>0 206 1348 672 0 0 1440 878 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
